html, body {
    padding: 0;
    margin: 0;
}


header {
    width:100%;
    height: 10vh;
    background-color: #09030f;
}

header button {
    color: azure;
    border-color: transparent;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

#arrow-container {
    display: flex;
    align-items: center;
 }
 #left-arrow,
 #right-arrow {
    width: 0;
    height: 0;
    margin: 5px;
 }
 #left-arrow,
 #right-arrow {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
 }

 #right-arrow {
    border-left: 25px solid #2c0c83;
 }
 #left-arrow {
    border-right: 25px solid #2c0c83;
 }


 #left-arrow:hover{
    cursor:pointer;
    border-right: 25px solid #9b9b9b ;
 }

 #right-arrow:hover{
    cursor:pointer;
    border-left: 25px solid #9b9b9b ;
 }

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel__track-container {
    background:lightgreen;
    height: 100%;
    position: relative;
}

.carousel__track {
    padding: 0;
    margin: 0; 
    list-style: none;

}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}

.carousel__button {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.mascot__container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.mascot {
    background-color: #09030f;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 80px;
    margin: 70px;
    cursor: pointer;
}

.buy {
    background-color: rgb(230, 202, 238);
    cursor: pointer;
}

footer {
    background-color: #09030f;
    height: 8vh;
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 1048px) {
  
 }
    
 
 
