.arrow-container {
    display: flex;
    align-items: center;
 }
 .left-arrow,
 .right-arrow {
    width: 0;
    height: 0;
    margin: 5px;
 }
 .left-arrow,
 .right-arrow {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
 }

 .right-arrow {
    border-left: 25px solid #F10C0C;
 }
 .left-arrow {
    border-right: 25px solid #F10C0C;
 }


 .left-arrow:hover{
    border-right: 25px solid #9b9b9b ;
 }

 .right-arrow:hover{
    border-left: 25px solid #9b9b9b ;
 }